<!-- SCRIPTS -->
<script src='https://api.mapbox.com/mapbox-gl-js/v0.40.0/mapbox-gl.js'></script>
<script src="../js/handlebars.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="../js/main.js"></script>
<script src="../js/utils.js"></script>
<script src="../js/filter.js"></script>
<!-- CATEGORY NAMES HANDLEBARS SCRIPT-->
<script id="category-dropdown-template" type="text/x-handlebars-template">
    <div class="dropdown sidebar-header">
        <p data-toggle="dropdown" id="categ-dropdown-text">
            all categories &nbsp;
        <span class="caret"></span></p>
        <ul class="dropdown-menu">
        \{{#each categDrop}}
            <li><a class="categName">\{{this.category}}</a></li>
        \{{/each}}
        </ul>
    </div>
</script>
<script src="../js/map.js"></script>
<!--  SIDEBAR EVENTS HANDLEBARS SCRIPT-->
<script id="sidebar-event-template" type="text/x-handlebars-template">
  <div class="sidebar">
      <!-- `events` is passed from main.js's API Call -->
      <!-- We iterate through each of these objects and append them using the template -->
      \{{#each events}}
      <a class="event event-trigger-modal sidebar-event" onclick="zoomToEventLocation(\{{{this.geometry.coordinates}}},{{{this.geometry.coordinates}}})">
          <img src="\{{this.properties.cover_picture}}" class="sidebar-event-img"></img>
          <div class="sidebar-event-details">
              <p class="sidebar-event-name">\{{this.properties.event_name}}</p>
              <p class="sidebar-event-date">\{{this.properties.start_time}}</p>
              <p class="sidebar-event-location">\{{this.properties.venue.location.street}}</p>
              <p class="sidebar-event-category">\{{this.properties.category}}</p>
          </div>
      </a>
      <div class="seperator"></div>
      \{{/each}}
  </div>
</script>
<script src="../js/modal.js"></script>

<footer>
<footer>
  <div class="modal-container hide event-modal-container">
    <div class="my-modal event-modal" id="event-modal">
      <!-- <div class="modal-x">&times</div> -->
      <div class="event-header">
        <i class="glyphicon glyphicon-chevron-left" id="left-chevron"></i>
      </div>
      <img class="modal-x" src="../img/modal-x.png">
      <img class="event-image" src="" id="modal-image">
      <div class="event-title" id="event-title"></div>
      <div class="event-left" id="event-left">
        <!-- <div class="event-title" id="event-day"></div> -->
        <div class="event-text" id="event-date"></div>
        <div class="event-text" id="event-time"></div>
        <div class="event-text" id="event-location"></div>
      </div> <!-- event-left -->
      <div class="event-line"><hr style="height:1px;border:none;color:rgb(126, 126, 126);background-color:rgb(126, 126, 126);margin-top:10px;margin-bottom:10px;"/></div>
      <div class="event-right" id="event-description">No event description has been written at this time.</div>

        <!-- <div class="event-text" id="event-description">No event description has been written at this time.</div> -->
      </div>

    </div> <!-- modal sign-up-modal -->
    <div class="modal-overlay" onClick="hideModal('event')"></div>
  </div> <!-- modal-container hide sign-up-modal-container -->
</footer>
</footer>

</body>
</html>
