{{> header}}


<div class="container home-container">
    <div class="row home-row">
    <div id="events-mount" class="col-sm-4 col-md-4"></div>
    <div class="map-display col-sm-8 col-md-8">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
    </div>
</div>


<script id="some-template" type="text/x-handlebars-template">
    <div class="dropdown sidebar-header">
      <p data-toggle="dropdown">
          all categories
      <span class="caret"></span></p>
      <ul class="dropdown-menu">
        <li><a href="#">music</a></li>
        <li><a href="#">networking</a></li>
        <li><a href="#">fitness</a></li>
        <li><a href="#">cause</a></li>
        <li><a href="#">health</a></li>
      </ul>
  </div>
    <div class="sidebar">
        \{{#each events}}
        <div class="sidebar-event">
            <img src="\{{this.cover_picture}}" class="sidebar-event-img"></img>
            <div class="sidebar-event-details">
                <p class="sidebar-event-name">\{{this.event_name}}</p>
                <p class="sidebar-event-date">\{{this.start_time}}</p>
                <p class="sidebar-event-location">\{{this.venue.location.street}}</p>
                <p class="sidebar-event-category">\{{this.category}}</p>
            </div>

        </div>
        <div class="seperator"></div>
        \{{/each}}
    </div>
</script>


{{> footer}}
